<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1 class="text-center">Choose any kind of Movie!</h1>
    <p class="text-center">Add a bookmark</p>
  </div>
</div>
  <h1>Lists</h1>
<div id="lists">
  <div></div>
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show this List", list, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
